coloresMapa = {
  "00": "rgba(255,255,255,1)"
, "01": "rgba(102,36,131,1)"
, "02": "rgba(125,44,168,1)"
, "03": "rgba(185,78,204,1)"
, "04": "rgba(244,143,255,1)"
, "05": "rgba(246,217,255,1)"
, "06": "rgba(74,20,140,1)"
, "07": "rgba(106,27,154,1)"
, "08": "rgba(123,31,162,1)"
, "09": "rgba(142,36,170,1)"
, "10": "rgba(156,39,176,1)"
, "11": "rgba(171,71,188,1)"
, "12": "rgba(186,104,200,1)"
, "13": "rgba(206,147,216,1)"
, "14": "rgba(255,190,231,1)"
, "15": "rgba(96,50,67,1)"
, "16": "rgba(129,75,95,1)"
, "17": "rgba(136,95,127,1)"
, "18": "rgba(219,201,191,1)"
, "19": "rgba(208,196,144,1)"
, "20": "rgba(246,240,206,1)"
, "21": "rgba(124,87,228,1)"
, "22": "rgba(34,82,130,1)"
, "23": "rgba(62,117,175,1)"
, "24": "rgba(18,161,223,1)"
, "25": "rgba(1,215,225,1)"
, "26": "rgba(56,193,201,1)"
, "27": "rgba(43,121,144,1)"
, "28": "rgba(33,167,157,1)"
, "29": "rgba(19,176,165,1)"
, "30": "rgba(161,206,180,1)"
, "31": "rgba(118,218,178,1)"
, "32": "rgba(71,177,122,1)"
, "33": "rgba(130,185,29,1)"
, "34": "rgba(179,195,66,1)"
, "35": "rgba(225,204,51,1)"
, "36": "rgba(249,170,7,1)"
, "37": "rgba(230,151,46,1)"
, "38": "rgba(249,104,75,1)"
, "39": "rgba(223,67,67,1)"
, "40": "rgba(214,74,115,1)"
, "41": "rgba(192,60,74,1)"
, "42": "rgba(225,228,235,1)"
, "43": "rgba(148,156,167,1)"
, "44": "rgba(118,125,135,1)"
, "45": "rgba(67,72,78,1)"
, "46": "rgba(51,51,76,1)"
, "47": "rgba(56,35,76,1)"
, "48": "rgba(234,234,234,1)"
, "49": "rgba(224,224,224,1)"
, "50": "rgba(242,242,242,1)"
}

coloresPlagio = {
  "01": "rgba(244,67,54,1)"
, "02": "rgba(233,30,99,1)"
, "03": "rgba(63,81,181,1)"
, "04": "rgba(33,150,243,1)"
, "05": "rgba(3,169,244,1)"
, "06": "rgba(76,175,80,1)"
, "07": "rgba(255,235,59,1)"
, "08": "rgba(255,152,0,1)"
, "09": "rgba(255,87,34,1)"
, "10": "rgba(96,125,139,1)"
}

coloresSociales = {
  "twitter": "rgba(45,170,225,1)"
, "facebook": "rgba(60,91,155,1)"
, "linkedin": "rgba(1,115,178,1)"
, "google+": "rgba(191,79,68,1)"
, "pinterest": "rgba(203,32,39,1)"
, "link": "rgba(156,204,101,1)"
}

propiedades = {
  '1': 'fill'
, '2': 'color'
, '3': 'outline-color'
, '4': 'background-color'
, '5': 'border-color'
, '6': 'border-top-color'
, '7': 'border-bottom-color'
, '8': 'border-left-color'
, '9': 'border-right-color'
, '10': '-webkit-column-rule-color'
, '11': '-webkit-text-emphasis-color'
};

definePropiedad(property, name, color){
  .{property+"-"+name}{
    {property}: color;
  }
}

apply(prefix, data){
  for index, propiedad in propiedades{
    for key, color in data{
      definePropiedad(propiedad, prefix+key, unquote(color));
    }
  }
}

apply('mapa', coloresMapa);
apply('plagio', coloresPlagio);
apply('', coloresSociales);
