@font-face {
  font-family: 'Neris-Light';
  src: url('assets/Neris/Neris-Light.otf');
}
@font-face {
  font-family: 'Neris-SemiBold';
  src: url('assets/Neris/Neris-SemiBold.otf');
}
@font-face {
  font-family: 'Neris-Black';
  src: url('assets/Neris/Neris-Black.otf');
}
@font-face {
  font-family: 'Frutiger-Light';
  src: url('assets/Frutiger/Frutiger-Light.otf');
}
@font-face {
  font-family: 'Frutiger-Bold';
  src: url('assets/Frutiger/Frutiger-Bold.otf');
}
@font-face {
  font-family: 'Frutiger-Roman';
  src: url('assets/Frutiger/Frutiger-Roman.otf');
}
@font-face {
  font-family: 'Mapa';
  src: url('assets/Mapa/Mapa.ttf');
}

@keyframes zoom-effect {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@keyframes loading-white {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 1),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 1),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
                2.5em 0em 0 0em rgba(255, 255, 255, 1),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
                0em 2.5em 0 0em rgba(255, 255, 255, 1),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 1),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
                -2.6em 0em 0 0em rgba(255, 255, 255, 1),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 1);
  }
}
@keyframes loading-gray {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 1),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.2),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.2),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.2),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.3),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.6);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.6),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 1),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.2),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.2),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.2),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.3);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.3),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.6),
                2.5em 0em 0 0em rgba(179, 179, 179, 1),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.2),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.2),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.2),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.3),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.6),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.2),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.2),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.2),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.3),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.6),
                0em 2.5em 0 0em rgba(179, 179, 179, 1),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.2),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.2),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.2),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.3),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.6),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 1),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.2),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.2),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.2),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.3),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.6),
                -2.6em 0em 0 0em rgba(179, 179, 179, 1),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(179, 179, 179, 0.2),
                1.8em -1.8em 0 0em rgba(179, 179, 179, 0.2),
                2.5em 0em 0 0em rgba(179, 179, 179, 0.2),
                1.75em 1.75em 0 0em rgba(179, 179, 179, 0.2),
                0em 2.5em 0 0em rgba(179, 179, 179, 0.2),
                -1.8em 1.8em 0 0em rgba(179, 179, 179, 0.3),
                -2.6em 0em 0 0em rgba(179, 179, 179, 0.6),
                -1.8em -1.8em 0 0em rgba(179, 179, 179, 1);
  }
}
@keyframes loading-black {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 1),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.5),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 1),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7),
                2.5em 0em 0 0em rgba(0, 0, 0, 1),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.7),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.5),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7),
                0em 2.5em 0 0em rgba(0, 0, 0, 1),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.7),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 1),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.5),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7),
                -2.6em 0em 0 0em rgba(0, 0, 0, 1),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
                1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
                2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
                1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
                0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
                -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5),
                -2.6em 0em 0 0em rgba(0, 0, 0, 0.7),
                -1.8em -1.8em 0 0em rgba(0, 0, 0, 1);
  }
}
@keyframes pulse-big {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

i[class*="mapaicono-"]{
  background: transparent;
  font-family: "Mapa";
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  pointer-events: painted;
}
.mapaicono-salondete:before{ content: "\0021"; }
.mapaicono-restaurante:before{ content: "\0022"; }
.mapaicono-bar:before{ content: "\0023"; }
.mapaicono-pub:before{ content: "\0024"; }
.mapaicono-discoteca:before{ content: "\0025"; }
.mapaicono-fuentedesoda:before{ content: "\0026"; }
.mapaicono-picada:before{ content: "\0027"; }
.mapaicono-peña:before{ content: "\0028"; }
.mapaicono-cocineria:before{ content: "\0029"; }
.mapaicono-rampasnoconcesionadas:before{ content: "\002A"; }
.mapaicono-rampasconcesionadas:before{ content: "\002B"; }
.mapaicono-molos:before{ content: "\002C"; }
.mapaicono-muelles:before{ content: "\002D"; }
.mapaicono-puerto:before{ content: "\002E"; }
.mapaicono-compartir:before{ content: "\002F"; }
.mapaicono-ayuda:before{ content: "\0030"; }
.mapaicono-circulo:before{ content: "\0031"; }
.mapaicono-circuloseleccionado:before{ content: "\0032"; }
.mapaicono-pato:before{ content: "\0033"; }
.mapaicono-admin:before{ content: "\0034"; }
.mapaicono-pantallacompleta:before{ content: "\0035"; }
.mapaicono-toggleBaselayer:before{ content: "\0037"; }
.mapaicono-web:before{ content: "\0038"; }
.mapaicono-mover:before{ content: "\0039"; }
.mapaicono-cerrartoast:before{ content: "\003A"; }
.mapaicono-home:before{ content: "\003B"; }
.mapaicono-ajustes:before{ content: "\003C"; }
.mapaicono-buscar:before{ content: "\003D"; }
.mapaicono-grafico:before{ content: "\003E"; }
.mapaicono-click:before{ content: "\003F"; }
.mapaicono-persona:before{ content: "\0040"; }
.mapaicono-atractivos:before{ content: "\0041"; }
.mapaicono-gps:before{ content: "\0042"; }
.mapaicono-limpiar:before{ content: "\0043"; }
.mapaicono-pin:before{ content: "\0044"; }
.mapaicono-cerrar:before{ content: "\0045"; }
.mapaicono-maximizar:before{ content: "\0046"; }
.mapaicono-minimizar:before{ content: "\0047"; }
.mapaicono-editar:before{ content: "\0048"; }
.mapaicono-telefono:before{ content: "\0049"; }
.mapaicono-direccion:before{ content: "\004A"; }
.mapaicono-email:before{ content: "\004B"; }
.mapaicono-sidebar:before{ content: "\004C"; }
.mapaicono-dondedormir:before{ content: "\004D"; }
.mapaicono-hotelboutique:before{ content: "\004E"; }
.mapaicono-hostalresidencial:before{ content: "\004F"; }
.mapaicono-ejecutivos:before{ content: "\0050"; }
.mapaicono-naturaleza:before{ content: "\0051"; }
.mapaicono-hotel:before{ content: "\0052"; }
.mapaicono-bedbreakfast:before{ content: "\0053"; }
.mapaicono-resort:before{ content: "\0054"; }
.mapaicono-aparthotel:before{ content: "\0055"; }
.mapaicono-hospedajerural:before{ content: "\0056"; }
.mapaicono-termas:before{ content: "\0057"; }
.mapaicono-estanciahacienda:before{ content: "\0058"; }
.mapaicono-cabañasmotel:before{ content: "\0059"; }
.mapaicono-camping:before{ content: "\005A"; }
.mapaicono-uso:before{ content: "\005B"; }
.mapaicono-expandir:before{ content: "\005C"; }
.mapaicono-español:before{ content: "\005D"; }
.mapaicono-ingles:before{ content: "\005E"; }
.mapaicono-inicio:before{ content: "\005F"; }
.mapaicono-reserva:before{ content: "\0061"; }
.mapaicono-arquitectura:before{ content: "\0062"; }
.mapaicono-artesania:before{ content: "\0063"; }
.mapaicono-artistico:before{ content: "\0064"; }
.mapaicono-caidadeagua:before{ content: "\0065"; }
.mapaicono-caminopintoresco:before{ content: "\0066"; }
.mapaicono-centrocientifico:before{ content: "\0067"; }
.mapaicono-costa:before{ content: "\0068"; }
.mapaicono-deporte:before{ content: "\0069"; }
.mapaicono-evento:before{ content: "\006A"; }
.mapaicono-feria:before{ content: "\006B"; }
.mapaicono-grupoetnico:before{ content: "\006C"; }
.mapaicono-caverna:before{ content: "\006D"; }
.mapaicono-lago:before{ content: "\006E"; }
.mapaicono-observacion:before{ content: "\006F"; }
.mapaicono-historia:before{ content: "\0070"; }
.mapaicono-paleontologia:before{ content: "\0071"; }
.mapaicono-religion:before{ content: "\0072"; }
.mapaicono-montaña:before{ content: "\0073"; }
.mapaicono-museo:before{ content: "\0074"; }
.mapaicono-musica:before{ content: "\0075"; }
.mapaicono-obradearte:before{ content: "\0076"; }
.mapaicono-parque:before{ content: "\0077"; }
.mapaicono-planicie:before{ content: "\0078"; }
.mapaicono-rio:before{ content: "\0079"; }
.mapaicono-ruina:before{ content: "\007A"; }
.mapaicono-circle-facebook:before{ content: "\007B"; }
.mapaicono-circle-twitter:before{ content: "\007C"; }
.mapaicono-circle-pinterest:before{ content: "\007D"; }
.mapaicono-circle-link:before{ content: "\007E"; }
.mapaicono-circle-gplus:before{ content: "\00A1"; }
.mapaicono-circle-linkedin:before{ content: "\00A2"; }
.mapaicono-facebook:before{ content: "\00A3"; }
.mapaicono-twitter:before{ content: "\00A4"; }
.mapaicono-pinterest:before{ content: "\00A5"; }
.mapaicono-link:before{ content: "\00A6"; }
.mapaicono-gplus:before{ content: "\00A7"; }
.mapaicono-linkedin:before{ content: "\00A8"; }
.mapaicono-esqui:before{ content: "\00A9"; }
.mapaicono-aeropuerto:before{ content: "\00AA"; }
.mapaicono-tren:before{ content: "\00AB"; }
.mapaicono-buses:before{ content: "\00AC"; }
.mapaicono-bomberos:before{ content: "\00AE"; }
.mapaicono-policia:before{ content: "\00AF"; }
.mapaicono-cementerio:before{ content: "\00B0"; }
.mapaicono-bencinera:before{ content: "\00B1"; }
.mapaicono-hospital:before{ content: "\00B2"; }
.mapaicono-ituristica:before{ content: "\00B3"; }
.mapaicono-calendario:before{ content: "\00B4"; }
.mapaicono-casino:before{ content: "\00B5"; }
.mapaicono-vina:before{ content: "\00B6"; }
.mapaicono-pnacional:before{ content: "\00B7"; }
.mapaicono-volcan:before{ content: "\00B8"; }
.mapaicono-cafe:before{ content: "\00B9"; }
.mapaicono-playa:before{ content: "\00BB"; }
.mapaicono-linterna:before{ content: "\00BC"; }
.mapaicono-relojarena:before{ content: "\00BD"; }
.mapaicono-puente:before{ content: "\00BE"; }
.mapaicono-ganado:before{ content: "\00BF"; }
.mapaicono-excavacion:before{ content: "\00C0"; }
.mapaicono-atm:before{ content: "\00C1"; }
.mapaicono-tienda:before{ content: "\00C2"; }
.mapaicono-paseocaballo:before{ content: "\00C3"; }
.mapaicono-caidadeagua2:before{ content: "\00C4"; }
.mapaicono-centrocientifico2:before{ content: "\00C5"; }
.mapaicono-deporte2:before{ content: "\00C6"; }
.mapaicono-caverna2:before{ content: "\00C7"; }
.mapaicono-pesca:before{ content: "\00C8"; }
.mapaicono-termas2:before{ content: "\00C9"; }
.mapaicono-apodis:before{ content: "\00CA"; }
.mapaicono-visto:before{ content: "\00CB"; }
.mapaicono-cambio:before{ content: "\00CC"; }
.mapaicono-hosteria:before{ content: "\00D1"; }
.mapaicono-descarga:before{ content: "\00D2"; }
.mapaicono-imagen:before{ content: "\00D3"; }
.mapaicono-excel:before{ content: "\00D4"; }
.mapaicono-rentacar:before{ content: "\00D5"; }
.mapaicono-bicicleta:before{ content: "\00D6"; }
.mapaicono-bano:before{ content: "\00D7"; }
.mapaicono-shopping:before{ content: "\00D8"; }
.mapaicono-jardin:before{ content: "\00D9"; }
.mapaicono-farmacia:before{ content: "\00DA"; }
.mapaicono-transaccion:before{ content: "\00DB"; }
.mapaicono-bano2:before{ content: "\00DC"; }
.mapaicono-estadio:before{ content: "\00DD"; }
.mapaicono-antorcha:before{ content: "\00DE"; }
.mapaicono-pizza:before{ content: "\00DF"; }
.mapaicono-wifi:before{ content: "\00E0"; }
.mapaicono-banco:before{ content: "\00E2"; }
.mapaicono-estrella:before{ content: "\00E3"; }
.mapaicono-estacionamiento:before{ content: "\00E4"; }
.mapaicono-policia2:before{ content: "\00E5"; }
.mapaicono-comidavegetariana:before{ content: "\00E6"; }
.mapaicono-hoja:before{ content: "\00E7"; }
.mapaicono-movil:before{ content: "\00E8"; }
.mapaicono-descuentos:before{ content: "\00E9"; }
.mapaicono-cambiodemapa:before{ content: "\00EA"; }
.mapaicono-ubicacion:before{ content: "\00EB"; }
.mapaicono-documento:before{ content: "\00EC"; }
.mapaicono-borrar:before{ content: "\00ED"; }
.mapaicono-seleccionartodo:before{ content: "\00EE"; }
.mapaicono-terma:before{ content: "\00F1"; }
.mapaicono-albergue:before{ content: "\2019"; }
.mapaicono-dondecomer:before{ content: "\201C"; }
.mapaicono-comidarapida:before{ content: "\201D"; }
.mapaicono-email2:before{ content: "\00E1"; }
.mapaicono-camara:before{ content: "\00EF"; }
.mapaicono-ropa:before{ content: "\00F0"; }
.mapaicono-basketball:before{ content: "\00F2"; }
.mapaicono-bandera:before{ content: "\00F3"; }
.mapaicono-escaleras:before{ content: "\00F4"; }
.mapaicono-barco:before{ content: "\00F5"; }
.mapaicono-tijeras:before{ content: "\00F6"; }
.mapaicono-ancla:before{ content: "\00F7"; }
.mapaicono-corazon:before{ content: "\00F8"; }
.mapaicono-picnic:before{ content: "\00F9"; }
.mapaicono-helicoptero:before{ content: "\00FA"; }
.mapaicono-helado:before{ content: "\00FB"; }
.mapaicono-industria:before{ content: "\00FC"; }
.mapaicono-libro:before{ content: "\00FD"; }
.mapaicono-faro:before{ content: "\00FE"; }
.mapaicono-musico:before{ content: "\00FF"; }
.mapaicono-estacionamiento2:before{ content: "\0100"; }
.mapaicono-correr:before{ content: "\0101"; }
.mapaicono-estrella2:before{ content: "\0102"; }
.mapaicono-sushi:before{ content: "\0103"; }
.mapaicono-minusvalido:before{ content: "\0104"; }
.mapaicono-ascensor:before{ content: "\0105"; }
.mapaicono-funicular:before{ content: "\0106"; }
.mapaicono-pan:before{ content: "\0107"; }
.mapaicono-escuela:before{ content: "\0108"; }
.mapaicono-ventilacion:before{ content: "\0109"; }
.mapaicono-regalo:before{ content: "\010A"; }
.mapaicono-carro:before{ content: "\010B"; }
.mapaicono-fuego:before{ content: "\010C"; }
.mapaicono-balon:before{ content: "\010D"; }
.mapaicono-cohete:before{ content: "\010E"; }
.mapaicono-nadar:before{ content: "\010F"; }
.mapaicono-bloqueo:before{ content: "\0110"; }
.mapaicono-mapa:before{ content: "\0114"; }
.mapaicono-noticias:before{ content: "\0113"; }
.mapaicono-inicio2:before{ content: "\0112"; }
.mapaicono-descarga2:before{ content: "\0111"; }
.mapaicono-puntitos:before{ content: "\0115"; }
.mapaicono-satelite:before{ content: "\0116"; }
.mapaicono-autocuidado:before{ content: "\011F"; }
.mapaicono-centrosalud:before{ content: "\0119"; }
.mapaicono-familia:before{ content: "\011E"; }
.mapaicono-diente:before{ content: "\0117"; }
.mapaicono-especialidad:before{ content: "\011A"; }
.mapaicono-femenino:before{ content: "\011C"; }
.mapaicono-examenes:before{ content: "\0120"; }
.mapaicono-comunidad:before{ content: "\0118"; }
.mapaicono-asistencia:before{ content: "\011D"; }
.mapaicono-botica:before{ content: "\011B"; }
.mapaicono-masculino:before{ content: "\0121"; }

.ripple{
  background-color: black !important;
}
.mapa-loading{
  margin: 0px 0px 75px calc(50% - 15px);
  font-size: 21px;
  border-radius: 50%;
  transform: translateZ(0);
}
.mapa-loading.loading-white{
  animation: loading-white 1.1s infinite ease;
}
.mapa-loading.loading-gray{
  animation: loading-gray 1.1s infinite ease;
}
.mapa-loading.loading-black{
  animation: loading-black 1.1s infinite ease;
}
.pulse-big {
  animation-name: pulse-big;
}
.nodisplay{
  display: none;
}
.novisibility{
  visibility: hidden;
}
.noselect{
  user-select: none;
}
.lock{
  pointer-events: none !important;
  cursor: default;
}
.lock-links a:not(.panel-imagen){
  pointer-events: none !important;
}
.clickeable{
  cursor: pointer !important;
}
.btn-hover{
  transition: transform 0.1s linear;
}
.btn-hover:hover{
  transform: scale(1.1);
}
.btn-hover:active{
  transform: scale(1.3);
}
.circle{
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 15px;
}
.arrow {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.blackbox{
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000005;
  overflow: hidden;
  opacity: 0;
}

/* IMAGEN CORPORATIVA */
.display{
  font-family: "Neris-SemiBold";
  font-size: 34px;
  letter-spacing: -0.025em;
}
.display1{
  font-family: "Neris-Light";
  font-size: 34px;
  letter-spacing: -0.025em;
}
.display2{
  font-family: "Neris-Light";
  font-size: 45px;
  letter-spacing: -0.025em;
}
.display3{
  font-family: "Neris-SemiBold";
  font-size: 45px;
  letter-spacing: -0.025em;
}
.display4{
  font-family: "Neris-Light";
  font-size: 56px;
  letter-spacing: -0.025em;
}
.display5{
  font-family: "Neris-Light";
  font-size: 100px;
  letter-spacing: -0.025em;
}
.display6{
  font-family: "Neris-Black";
  font-size: 100px;
  letter-spacing: -0.050em;
}

.body1{
  font-family: "Neris-Light";
  font-size: 18px;
  letter-spacing: -0.025em;
}
.body2{
  font-family: "Neris-SemiBold";
  font-size: 18px;
  letter-spacing: -0.025em;
}

.text1{
  font-family: "Neris-Light";
  font-size:14px;
  letter-spacing:-0.025em;
}
.text2{
  font-family: "Neris-SemiBold";
  font-size:14px;
  letter-spacing:-0.025em;
}

.headline{
  font-family: "Neris-Light";
  font-size: 24px;
  letter-spacing: -0.025em;
}
.title{
  font-family: "Neris-SemiBold";
  font-size: 20px;
  letter-spacing: -0.025em;
}
.subhead{
  font-family: "Neris-Light";
  font-size: 20px;
  letter-spacing: -0.025em;
}
.caption{
  font-family: "Neris-Light";
  font-size: 12px;
  letter-spacing: -0.025em;
}
.caption2{
  font-family: "Neris-SemiBold";
  font-size: 12px;
  letter-spacing: -0.025em;
}
.button{
  font-family: "Neris-SemiBold";
  font-size: 18px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.block{
  font-family: "Frutiger-Light";
  font-size: 11px;
}
.tooltips{
  font-family: "Frutiger-Roman";
  font-size: 12px;
  text-transform: uppercase;
}


/* Escala */
.mapa-lighter {
  color: rgba(246,217,255,1);
}
.mapa-light {
  color: rgba(244,143,255,1);
}
.mapa {
  color: rgba(185,78,204,1);
}
.mapa-dark {
  color: rgba(125,44,168,1);
}
.mapa-darker {
  color: rgba(102,36,131,1);
}

/* Monocromáticos */
.mapa-mono-dark {
  color: rgba(48,48,48,1);
}
.mapa-mono-light {
  color: rgba(173,173,173,1);
}

/* Bloques */
.mapa-block {
  background-color: rgba(185,78,204,1);
}

/* max-linex: 1 to 100 */
for num in 1..10{
  .{"mapa-maxlines-"+num}{
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: num;
  }
}
